@import "tailwindcss";
@import "../Theme.css";

.mainPanel {
  @apply flex-1 flex flex-col justify-center items-center px-4;
}

.preamble {
  @apply text-small text-secondary font-tamil font-semibold leading-body;
}

.thirumannImage {
  @apply block max-w-48 object-cover;
}
