@import "tailwindcss";
@import "../../Theme.css";

.container {
  @apply max-w-4xl mx-auto;
}

.title {
  @apply text-3xl font-bold mb-4;
}

.table {
  @apply w-full border border-indigo-300 rounded-lg;
}

.tableHeader {
  @apply bg-indigo-100 text-left;
}

.headerRow {
  @apply bg-indigo-200 text-left;
}

.headerCell {
  @apply border border-indigo-300 px-4 py-2 font-semibold;
  @apply text-left;
}

.tableRow {
  @apply even:bg-indigo-100;
}

.tableCell {
  @apply border border-indigo-300 px-4 py-2 text-left;
}
