@theme {
  --color-primary: rgba(255, 255, 127, 0.6);
  --color-primary-light: rgba(255, 255, 255, 1);
  --color-primary-dark: rgba(53, 47, 156, 1);

  --color-contrast: rgba(255, 0, 31, 0.6);
  --color-contrast-light: rgba(255, 127, 255, 0.75);
  --color-contrast-dark: rgba(156, 47, 156, 1);
  --color-light-indigo: #e0e7ff;
  --color-deep-navy: #0f1724;
  --color-panel: #0b1220;

  --color-secondary: rgba(89, 73, 232, 1);
  --color-secondary-light: rgba(0, 0, 255, 0.75);
  --color-secondary-dark: rgba(255, 255, 255, 1);

  --color-accent: rgba(0, 0, 127, 0.6);
  --color-accent-light: rgba(0, 127, 255, 0.75);
  --color-accent-dark: rgba(255, 255, 127, 0.6);

  --font-tamil: "Mukta Malar", sans-serif;
  --font-devanagri: "Mukta", sans-serif;
  --font-english: system-ui, sans-serif;

  --text-small: 0.75rem;
  --text-medium: 0.875rem;
  --text-regular: 1rem;
  --text-subtitle: 1.25rem;
  --text-title: 1.875rem;
  --text-headline: 3rem;

  --leading-display: 1.1;
  --leading-headline: 1.2;
  --leading-title: 1.3;
  --leading-subtitle: 1.4;
  --leading-body: 1.5;
}
