@import "tailwindcss";
@import "../Theme.css";

.mainMenu {
  @apply sticky top-0 z-50 border-b border-light-indigo bg-primary shadow-md;
  position: -webkit-sticky; /* For Safari */
}

.menuItemContainer {
  @apply relative w-full flex items-center px-4 py-2;
}
