@import "tailwindcss";
@import "../Theme.css";

.mobileMenuDropdown {
  @apply absolute right-4 top-full mt-2 w-48 rounded-md shadow-lg bg-white ring-1 ring-black;
  @apply md:hidden;
}

.mobileNavItem {
  @apply block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-blue-600;
}
